
.dialog-modal-layer {
	display: flex;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	align-items: flex-start;
	justify-content: center;
	border: none;
	margin: 0;
	background-color: transparent;

	&:not([open]) {
		display: none;
	}

	> .content {
		background-color: var(--joplin-background-color);
		color: var(--joplin-color);
		padding: 16px;
		box-shadow: 6px 6px 20px rgba(0,0,0,0.5);
		margin: 20px;
		min-height: fit-content;
		display: flex;
		flex-direction: column;
		border-radius: 10px;
	}

	&::backdrop {
		background-color: rgba(0,0,0,0.5);
	}
}
