.text-input {
	height: 24px;
	max-height: 24px;
	border: 1px solid var(--joplin-divider-color);
	padding-left: 5px;
	padding-right: 5px;
	box-sizing: border-box;
	color: var(--joplin-color);
	background-color: var(--joplin-background-color);
}
