
.user-webview-dialog {
	// Overflow should be handled within WebView dialogs (rather than externally).
	// Allowing external overflow can create space for a scrollbar in some cases.
	overflow: unset;
	align-items: center;
	--content-width: 90vw;
	--content-height: 90vh;

	&.-fit {
		--content-width: auto;
		--content-height: auto;
	}

	> .content {
		display: flex;
		flex-direction: column;
		background-color: var(--joplin-background-color);
		padding: var(--joplin-main-padding);
		border-radius: 4px;
		box-shadow: 0 6px 10px #00000077;
		width: var(--content-width);
		height: var(--content-height);
	}
}