.note-lock-config-screen {
	padding: var(--joplin-main-padding);
}

.note-lock-config-screen > .section {
	padding-bottom: 16px;
	margin-bottom: 16px;
	border-bottom: 1px solid var(--joplin-divider-color);
}

.note-lock-config-screen > .section:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: 0;
}

.note-lock-config-screen > .section > h2 {
	margin-top: 0;
}

.note-lock-config-screen > .section > .form {
	max-width: 420px;
}

.note-lock-config-screen > .section > .form > .buttons {
	display: flex;
	gap: 8px;
	margin-top: 12px;
}

.note-lock-config-screen > .section > .form > .reset-link {
	margin-bottom: 0;
}

.note-lock-config-screen > .section > .form > .reminder {
	margin-top: 16px;
	margin-bottom: 0;
}

.note-lock-config-screen > .section > .setting-row {
	display: flex;
	gap: 8px;
	align-items: center;
}

.note-lock-config-screen > .section > .form > .warning {
	padding: 12px;
	border-left: 3px solid var(--joplin-color-warn);
	background-color: var(--joplin-background-color);
	color: var(--joplin-color);
	line-height: 1.4;
}

.note-lock-config-screen > .section > .form > .error {
	color: var(--joplin-color-error);
}
