<footer class="darkblue-bg">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-12 social-links">
				<a href="https://twitter.com/joplinapp" title="Joplin Twitter feed"><i class="fab fa-twitter"></i></a>
				<a href="https://mastodon.social/@joplinapp" title="Joplin Mastodon feed"><i class="fab fa-mastodon"></i></a>
				<a href="https://www.patreon.com/joplin" title="Joplin Patreon"><i class="fab fa-patreon"></i></a>
				<a href="https://discordapp.com/invite/d2HMPwE" title="Joplin Discord chat"><i class="fab fa-discord"></i></a>
				<a href="https://www.reddit.com/r/joplinapp/" title="Joplin Subreddit"><i class="fab fa-reddit"></i></a>
				<a href="https://github.com/laurent22/joplin/" title="Joplin GitHub repository"><i class="fab fa-github"></i></a>
			</div>
		</div>

		<div class="row bottom-links-row">
			<div class="col-12 col-md-6">
				<p class="text-center-sm">Copyright &copy; 2016-{{yyyy}} Laurent Cozic</p>
			</div>
			<div class="col-12 col-md-6">
				<p class="text-right text-center-sm right-links">
					<span class="footer-right">
						<a href="{{baseUrl}}/privacy/">Privacy Policy</a>
					</span>
				</p>
			</div>
		</div>
	</div>
</footer>