{{#availableLocales}}
<link rel="alternate" hreflang="{{hreflang}}" href="https://joplinapp.org{{#pathPrefix}}/{{pathPrefix}}{{/pathPrefix}}{{currentPath}}" />
{{/availableLocales}}
<link rel="alternate" hreflang="x-default" href="https://joplinapp.org{{currentPath}}" />
