<div class="carousel-item {{active}} press-carousel" data-bs-interval="10000">
	<img
		src="{{imageBaseUrl}}/transparent-bg.png"
		class="d-block w-100"
		alt=""
	/>
	<div class="carousel-caption">
		<img
			src="{{imageBaseUrl}}/{{imageName}}"
			alt=""
			class="img-fluid img-center photo"
		/>
		<br />
		<p class="text-center">
			“{{body}}”
		</p>
		<br />
		<p class="fw500 text-center">
			<a href="{{url}}">{{source}}</a>
		</p>
		<p class="fw400 small text-center">By {{author}}</p>
	</div>
</div>