.share-recipient-input {
	display: flex;
	flex-direction: row;
}

.share-recipient-input > .permission-dropdown {
	margin-right: 10px;
}

.share-recipient-input > .field {
	position: relative;
	flex: 1;
	min-width: 0;
	margin-right: 10px;
}

.share-recipient-input > .field > .combobox-wrapper {
	width: 100%;
}

.share-recipient-input > .field > .combobox-wrapper > input {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid var(--joplin-border-color4);
	border-radius: 3px;
	font-size: var(--joplin-font-size);
	font-family: var(--joplin-font-family);
	color: var(--joplin-color);
	background-color: var(--joplin-background-color);
	padding: 4px 8px;
	height: var(--joplin-toolbar-height);
	max-height: var(--joplin-toolbar-height);
}

.share-recipient-input > .field > .combobox-wrapper > .suggestions {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	width: 100%;
	box-sizing: border-box;
	min-width: 0;
	margin-top: 2px;
	z-index: 1000;
	background-color: var(--joplin-background-color);
	border: 1px solid var(--joplin-border-color4);
	border-radius: 3px;
}

.share-recipient-input > .field > .combobox-wrapper > .suggestions > [role='listbox'] {
	height: auto !important;
	max-height: 200px;
}

.share-recipient-input > .field > .combobox-wrapper > .suggestions > .combobox-suggestion-option:last-child {
	border-bottom: 0;
}

.share-recipient-input > .field > .combobox-wrapper > .suggestions:not(:has([role='option'])) {
	display: none !important;
}
