[submodule "packages/default-plugins/plugin-sources/joplin-plugin-backup"]
	path = packages/default-plugins/plugin-sources/io.github.jackgruber.backup
	url = https://github.com/JackGruber/joplin-plugin-backup.git
