<div class="carousel-indicators">
	<button
		type="button"
		data-bs-target="#{{id}}"
		data-bs-slide-to="0"
		class="active"
		aria-current="true"
		aria-label="Slide 1"
	></button>
	<button
		type="button"
		data-bs-target="#{{id}}"
		data-bs-slide-to="1"
		aria-label="Slide 2"
	></button>
	<button
		type="button"
		data-bs-target="#{{id}}"
		data-bs-slide-to="2"
		aria-label="Slide 3"
	></button>
</div>