.update-notification {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .button-container {
        display: flex;
        gap: 10px;
        margin-top: 8px;
    }

    .notyf__button {
        padding: 5px 10px;
        border: 1px solid;
        border-radius: 4px;
        background-color: transparent;
        cursor: pointer;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    a {
        text-decoration: underline; 
    }
}