
<!-- JOPLINCHANGE
<footer{{#unless settings.hideGenerator}} class="with-border-bottom"{{/unless}}>
    <div class="container">
        <h2>Legend</h2>
        <div class="tsd-legend-group">
            {{#each legend}}
                <ul class="tsd-legend">
                    {{#each .}}
                        <li class="{{#compact}}{{#each classes}} {{.}}{{/each}}{{/compact}}"><span class="tsd-kind-icon">{{name}}</span></li>
                    {{/each}}
                </ul>
            {{/each}}
        </div>
    </div>
</footer>

{{#unless settings.hideGenerator}}
    <div class="container tsd-generator">
        <p>Generated using <a href="https://typedoc.org/" target="_blank">TypeDoc</a></p>
    </div>
{{/unless}}
-->