<ul class="tsd-signatures {{cssClasses}}">
    {{#each signatures}}
        <li class="tsd-signature tsd-kind-icon">{{#compact}}{{> member.signature.title }}{{/compact}}</li>
    {{/each}}
</ul>

<ul class="tsd-descriptions">
    {{#each signatures}}
        <li class="tsd-description">
            {{> member.signature.body }}
        </li>
    {{/each}}
</ul>
