.note-list {
	width: 100%;
	height: 100%;
	background-color: var(--joplin-background-color3);
	border-right: 1px solid var(--joplin-divider-color);
}

.note-list-item {
	display: flex;
	box-sizing: border-box;
	position: relative;
	
	&:before {
		content: '';
		border-bottom: 1px solid var(--joplin-divider-color);
		width: 90%;
		position: absolute;
		bottom: 0;
		left: 5%;
	}

	> .content.-selected {
		background-color: var(--joplin-selected-color);
	}

	> .content.-default {
		display: flex;
		box-sizing: border-box;
		align-items: stretch;
		position: relative;
		width: 100%;

		> .checkbox {
			display: flex;
			align-items: center;
			padding-left: 16px;
		}

		> .title {
			font-family: var(--joplin-font-family);
			font-size: var(--joplin-font-size);
			text-decoration: none;
			color: var(--joplin-color);
			cursor: default;
			white-space: nowrap;
			flex: 1 1 0%;
			display: flex;
			align-items: center;
			overflow: hidden;
			padding-left: 4px;
		}
	}
}
