.note-list {
	width: 100%;
	height: 100%;
	background-color: var(--joplin-background-color3);
	border-right: 1px solid var(--joplin-divider-color);
	overflow-x: hidden;
	overflow-y: scroll;

	> .notes {
		display: flex;
		overflow-x: hidden;
	}

	> .emptylist {
		padding: 10px;
		font-size: var(--joplin-font-size);
		color: var(--joplin-color);
		background-color: var(--joplin-background-color);
		font-family: var(--joplin-font-family);
	}
}

.note-list-item {
	display: flex;

	> .item {
		overflow: hidden;
		white-space: nowrap;
	}
}

.note-list-item-wrapper {
	border-color: var(--joplin-color);
	position: relative;
	box-sizing: border-box;

	> .dragcursor {
		background-color: var(--joplin-color);
		position: absolute;
		z-index: 1000;
		width: 2px;
		height: 2px;
	}
}

.note-list-item-wrapper.-provisional {
	opacity: 0.5;
}

.note-list-header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	user-select: none;

	> .item {
		display: flex;
		position: relative;
		align-items: center;
		height: 100%;
		color: var(--joplin-color);

		> .resizer {
			position: absolute;
			opacity: 0;
			width: 6px;
			height: 100%;
			left: -3px;
			cursor: ew-resize;
		}

		> .inner {
			padding-left: 8px;
			pointer-events: none;

			> .titlewrapper {
				> .chevron {
					position: absolute;
					right: 6px;
				}
			}
		}
	}

	> .item:before {
		content: '';
		width: 1px;
		height: 18px; // TODO: Make dynamic
		background: var(--joplin-divider-color);
		position: absolute;
		top: 4px;
	}

	> .item.-first:before {
		background: none;
	}

	> .item.-drop-before:before {
		content: '';
		width: 2px;
		height: 18px; // TODO: Make dynamic
		background: red;
		position: absolute;
		top: 4px;
	}

	> .item.-drop-after:after {
		content: '';
		width: 2px;
		height: 18px; // TODO: Make dynamic
		background: red;
		position: absolute;
		top: 4px;
		right: 0;
	}

	> .item.-drop-before, >.item-.drop-after {
		background-color: yellow;
	}

	> .item.-current {
		font-weight: bold;
	}

}