.toolbar-root {
    background-color: var(--primary-background-color);

    border: 1px solid var(--secondary-background-color);
    border-radius: 2px;
    flex-wrap: wrap;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;

    font-family: system-ui, -apple-system, sans-serif;
}

.toolbar-button, .toolbar-root button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    border-radius: 6px;
    cursor: pointer;

    padding-left: 3px;
    padding-right: 3px;
    margin-left: 3px;
    margin-right: 3px;

    min-width: 40px;
    max-width: 70px;
    font-size: 11pt;

    cursor: pointer;

    height: min(20vh, 60px);
    background-color: var(--primary-background-color);
    color: var(--primary-foreground-color);
    border: none;
    box-shadow: 0px 0px 2px var(--primary-foreground-color);

    transition: background-color 0.25s ease, box-shadow 0.25s ease, opacity 0.3s ease;
}

.toolbar-button:hover, .toolbar-root button:not(:disabled):hover {
    box-shadow: 0px 2px 4px var(--primary-foreground-color);
}

.toolbar-root button {
    height: auto;
}

.toolbar-root button:disabled {
    cursor: inherit;
    filter: opacity(0.5);
}

.toolbar-button .toolbar-icon {
    flex-shrink: 1;
    min-width: 30px;
}

.toolbar-toolContainer.selected .toolbar-button {
    background-color: var(--secondary-background-color);
    color: var(--secondary-foreground-color);
}

.toolbar-toolContainer:not(.selected) .toolbar-showHideDropdownIcon {
    display: none;
}

.toolbar-toolContainer.selected .toolbar-showHideDropdownIcon {
    height: 10px;
    transition: transform 0.5s ease;
}

.toolbar-toolContainer.dropdownVisible .toolbar-showHideDropdownIcon {
    transform: rotate(180deg);
}

.toolbar-dropdown.hidden, .toolbar-toolContainer:not(.selected) > .toolbar-dropdown {
    display: none;
}

.toolbar-dropdown {
    position: absolute;
    padding: 15px;
    padding-top: 5px;
    /* Prevent overlap/being displayed under the undo/redo buttons */
    z-index: 2;
    background-color: var(--primary-background-color);
    box-shadow: 0px 3px 3px var(--primary-foreground-color);
}

.toolbar-buttonGroup {
    display: flex;
    flex-direction: row;
}

/* Make color selection buttons fill their containing label */
.toolbar-dropdown .clr-field button {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    margin-left: 0;
    margin-right: 0;
}
