
.setting-header {
	display: block;
	color: var(--joplin-color);
	font-size: calc(var(--joplin-font-size) * 1.25);
	font-weight: 500;
	margin-bottom: var(--joplin-main-padding);
	line-height: var(--joplin-line-height);
}