
.setting-description {
	color: var(--joplin-color-faded);
	font-size: var(--joplin-font-size);
	line-height: var(--joplin-line-height);
	font-style: italic;
	max-width: 70em;
	margin-top: 5px;

	&.-empty {
		margin: 0;
		padding: 0;
	}
}
