
canvas {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	touch-action: none;
}

.loadingMessage {
	position: fixed;
	text-align: center;
	font-family: system-ui, -apple-system, sans-serif;
	font-size: 2em;

	bottom: 0;
	left: 0;
	right: 0;
}
