
.sidebar-header-button {
	padding: 4px 8px;
	border: none;

	background-color: transparent;
	font-size: var(--joplin-toolbar-icon-size);
	color: var(--joplin-color2);

	&:hover {
		color: var(--joplin-color-hover2);
		background: none;
	}

	&:active {
		color: var(--joplin-color-active2);
		background: none;
	}
}
