
.sidebar-expand-link {
	color: var(--joplin-color2);
	cursor: default;
	opacity: 0.8;
	text-decoration: none;
	padding-right: 8px;
	display: flex;
	align-items: center;
	width: 16px;
	max-width: 16px;
	min-width: 16px;
	height: 100%;
}
