body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.App {
	width: 400px;
	
	overflow-x: hidden;
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
	background-color: #162b3d;
	font-size: 16px;
	color: #5A95C7;
	padding: 10px;
	box-sizing: border-box;
}

.App h2 {
	font-size: 1em;
	margin-top: .5em;
	margin-bottom: .5em;
	font-weight: normal;
}

.App a {
	color: #5A95C7;
}

.App .Disabled {
	opacity: .5;
}

.App .Controls {
	flex: 0;
}

.App .Controls ul {
	flex: 0;
	list-style-type: none;
	padding-left: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.App a.Button {
	background-color: #0269c2;
	padding: 0 14px;
	display: flex;
	flex: 1;
	color: #eee;
	font-weight: normal;
	font-size: .8em;
	cursor: pointer;
	align-items: center;
	min-height: 31px;
	text-decoration: none;
}

.App a.Button:hover,
.App a.Button:focus {
	background-color: #1E89E6;
}

.App .Controls a.Button {
	margin-bottom: 10px;
}

.App .Preview {
	min-height: 0;
	flex: 1;
	align-items: stretch;
	display: flex;
	flex-direction: column;
}

.App .Preview .Info {
	color: #38668D;
}

.App .Preview .Title {
	flex: 0;
	margin-bottom: 10px;
}

.App .Preview .BodyWrapper {
	flex: 1;
	overflow: hidden;
	flex-shrink: 1;
	min-width: auto;
}

.App .Preview .Body {
	font-size: .5em;
	overflow-x: hidden;
	overflow-y: scroll;
	overflow-wrap: break-word;
	background-color: #ffffff;
	width: 100%;
	height: 100%;
}

.App .Preview .Confirm {
	flex: 0;
}

.App .Folders,
.App .Tags {
	display: flex;
	flex-direction: row;
	align-items: top;
	padding: 5px 0;
}

.App .Folders label,
.App .Tags label {
	flex: 0;
	white-space: nowrap;
	margin-right: .5em;
}

.App .Folders select {
	flex: 1;
}

.App .Tags input {
	display: inline-block;
	flex: 1;
	margin-bottom: .5em;
}

.App .ClearTagButton {
	margin-left: .5em;
	text-decoration: none;
}

.App .StatusBar {
	color: #5A95C7;
	font-size: .7em;
	display: flex;
	flex: 0;
	flex-direction: 'row';
	align-items: center;
	min-height: 20px;
	padding-top: 5px;
}

.App .StatusBar .Led {
	display: flex;
	flex: 0;
	width: 8px;
	height: 8px;
}

.App .StatusBar .ServerStatus {
	display: flex;
	flex: 1;
	margin-left: 5px;
}

.App .StatusBar .ServerStatus .Help {
	margin-left: 5px;
}