<form class="form-signin">
	<p>Enter this code into <strong>{{client.name}}</strong> to finish the process.</p>
	<input type="text" class="form-control" class="authCode" autofocus readonly spellcheck="false" value="{{authCode}}">
</form>