.password-input {
	display: flex;
	position: relative;
	flex: 1;

	> .field {
		display: flex;
		flex: 1;
		width: 100%;
	}

	> .showpasswordbutton {
		position: absolute;
		right: 5px;
		top: 4px;
		border: none;
		background: none;
	}
}
