body, textarea {
	margin: 0;
	padding: 0;
	border: none;
}

#react-root {
	height: 100%;
}

/*.item-list {
	overflow-x: hidden;
	overflow-y: scroll;
}

.note-list .item {
	height: 40px;  This must match NoteList.itemHeight 
	vertical-align: middle;
	cursor: pointer;
}

.note-list .item.odd {
	background-color: lightgray;
}

.note-list .selected {
	font-weight: bold;
}

*/

.note-list .list-item:hover {
	background-color: rgba(0,160,255,0.1) !important;
}

.side-bar .selected {
	font-weight: bold;
}

.side-bar .list-item:hover,
.side-bar .synchronize-button:hover {
	background-color: #533d7d;
}

.header .button:hover {
	background-color: rgba(0,160,255,0.1);
	border: 1px solid rgba(0,160,255,0.5);
	box-sizing: 'border-box';
}

.header .button {
	border: 1px solid rgba(0,160,255,0);
}

.icon-button:hover {
	background-color: rgba(0,0,0,0.05) !important;
	border: 1px solid rgba(0,0,0,0.10);
	border-radius: 5px;
}