body {
	margin: 0;
	padding: 0;
}

#react-root {
	height: 100%;
}

.item-list {
	overflow-x: hidden;
	overflow-y: scroll;
}

.note-list .item {
	height: 40px; /* This must match NoteList.itemHeight */
	vertical-align: middle;
	cursor: pointer;
}

.note-list .item.odd {
	background-color: lightgray;
}