body, textarea {
	margin: 0;
	padding: 0;
	border: none;
}

#react-root {
	height: 100%;
	overflow: hidden;
}

table {
	border-collapse: collapse;
}

table th {
	text-align: left;
}

table td, table th {
	padding: .5em;
	border: 1px solid #ccc;
}

/* By default, the Ice Editor displays invalid characters, such as non-breaking spaces
   as red boxes, but since those are actually valid characters and common in imported
   Evernote data, we hide them here. */
.ace-chrome .ace_invisible_space {
	background-color: transparent !important;
	opacity: 0;
}

.note-list .list-item:hover {
	background-color: rgba(0,160,255,0.1) !important;
}

/*.side-bar .list-item:hover,
.side-bar .synchronize-button:hover {
	background-color: #01427B;
}

.side-bar .list-item:active,
.side-bar .synchronize-button:active {
	background-color: #0465BB;
}*/

.editor-toolbar .button:not(.disabled):hover,
.header .button:not(.disabled):hover {
	background-color: rgba(0,160,255,0.1);
	border: 1px solid rgba(0,160,255,0.5);
	box-sizing: 'border-box';
}

.editor-toolbar .button:not(.disabled):active,
.header .button:not(.disabled):active {
	background-color: rgba(0,160,255,0.2);
	border: 1px solid rgba(0,160,255,0.7);
	box-sizing: 'border-box';
}

.editor-toolbar .button,
.header .button {
	border: 1px solid rgba(0,160,255,0);
}

.icon-button:hover {
	background-color: rgba(0,0,0,0.05) !important;
	border: 1px solid rgba(0,0,0,0.10);
	border-radius: 5px;
}

.icon-button:active {
	background-color: rgba(0,0,0,0.10) !important;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 5px;
}

.smalltalk {
	font-family: sans-serif;
}

.note-property-box .rdt {
	display: inline-block;
}
