body .notyf {
	color: var(--joplin-color5);
}

.notyf__toast {

	> .notyf__wrapper {

		> .notyf__message {

			> .cancel {
				color: var(--joplin-color5);
				text-decoration: underline;
			}

		}

		> .notyf__icon {

			> .notyf__icon--success {
				background-color: var(--joplin-color5);
			}

		}

	}
}
