* {
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

input.form-control {
	margin-bottom: 0.5rem;
}

.navbar .logo-container {
	align-items: center;
}

.navbar .logo-text {
	font-size: 2.2em;
	font-weight: bold;
	margin-left: 0.5em;
}

/* 
.navbar .logo {
	height: 50px;
} */

.navbar .navbar-item img {
	max-height: 3em;
}

.main {
	padding: 2rem 3rem;
}

table.table .nowrap {
	white-space: nowrap;
}

table.table .stretch {
	width: 100%;
}

table.table th .sort-button i {
	margin-left: 0.5rem;
}

.footer {
	background-color: transparent;
}

.footer .content {
	opacity: 0.5;
}

ul li {
	list-style-type: disc;
}

