.mini-app {
	display: grid;
	grid-template-rows: auto 2rem;
	height: 100vh;
	width: 100vw;
	background-color: var(--bg);
	overflow: hidden;
	border-radius: 0.4rem;
	border: solid thin var(--tertiary);
	padding-top: 0.6rem;
	padding-right: 0.25rem;
}

.mini-app.focused {
	border: solid thin var(--grey);
}

.mini-app.loading {
	display: flex;
	justify-content: center;
	align-items: center;
}

.app-bottom-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0.2rem 0.5rem;
	font-size: 0.8rem;
	color: var(--grey);
}

.app-pages {
	display: block;
	margin: 0px auto;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	padding: 0.5rem;
	padding-top: 0px;
	padding-bottom: 0px;
	overflow-y: hidden;
	padding-right: 0.25rem;
	position: relative;
}

.app-pages.focused {
	padding-right: 0px;
	overflow-y: auto;
	overflow-x: auto;
}

.pdf-info {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	column-gap: 0.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
}

@media screen and (max-width: 380px) {
	.can-hide {
        display: none;
    }
}