*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
}

:root {
    --white: rgb(255, 255, 255);
    --light: rgb(219, 219, 219);
    --grey: rgb(128, 128, 128);
    --dark: rgb(1, 0, 34);
    --black: rgb(24, 24, 24);

    --red: #ff000d;
    --blue: #00A8FF;
    --green: rgb(0, 167, 28);
    --purple: rgb(132, 0, 255);
    --orange: rgb(255, 164, 27);

    --primary: var(--black);
    --secondary: var(--dark);
    --tertiary: var(--light);
    --bg: var(--white);
}

[data-theme="dark"] {
    --primary: var(--white);
    --secondary: var(--light);
    --tertiary: var(--dark);
    --bg: var(--black);
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0px;
    padding: 0px;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

html,
body {
    font-family: 'Segoe UI', sans-serif;
    font-size: var(--s);
    font-weight: 300;
    color: var(--secondary);
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-corner {
    background: none;
}

::-webkit-scrollbar-track {
    border: none;
}

::-webkit-scrollbar-thumb {
    background: var(--grey);
    border-radius: 5px;
}

.mini-app {
    display: grid;
    grid-template-rows: auto 2rem;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg);
    overflow: hidden;
    border-radius: 0.4rem;
    border: solid thin var(--tertiary);
    padding-top: 0.6rem;
    padding-right: 0.25rem;
    background-color: rgb(240, 241, 245);
}

.mini-app.focused {
    border: solid thin var(--grey);
}

[data-theme="dark"] .mini-app {
    background-color: rgb(54, 54, 54);
}

.app-pages {
    display: flex;
    justify-content: center;
    align-items: start;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    padding-top: 0px;
    overflow-y: hidden;
    padding-right: 0.25rem;
    position: relative;
}

.app-pages.focused {
    padding-right: 0px;
    overflow-y: auto;
}

.pages-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-flow: column;
    width: 100%;
    min-height: 100%;
    height: auto;
    row-gap: 2px;
}

.app-bottom-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    color: var(--grey);
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: solid thin rgba(120, 120, 120, 0.498);
    background: rgb(233, 233, 233);
    position: relative;
}

.p-info {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    padding: 0.3rem;
    background: rgba(203, 203, 203, 0.509);
    border-radius: 0.3rem;
    font-size: 0.8rem;
    color: rgba(91, 91, 91, 0.829);
    backdrop-filter: blur(0.5rem);
    cursor: default;
}

.p-info:hover {
    opacity: 0.3;
}